@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj! Jesteś rodzicem czy dzieckiem?</h1>
    <button asp-area=""  asp-action="Parent" asp-controller="Home">RODZIC</button>
    <button asp-area="" asp-action="Child" asp-controller="Home">DZIECKO</button>
</div>
